/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

public/css/*.css
public/js/*.js
public/vendor/*

